@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@-webkit-keyframes menuOn {
  0% {
    opacity: 0;
    right: -242px;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}
@keyframes menuOn {
  0% {
    opacity: 0;
    right: -242px;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Livvic", sans-serif;
  background-color: #014E56;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 24px;
}

header {
  padding-top: 48px;
  padding-bottom: 20px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  background-color: #014E56;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
}

nav {
  display: none;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.header__nav__item__link {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.header__contact-link {
  display: none;
  padding: 10px 32px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  border-radius: 55px;
  border: 2px solid #FFFFFF;
}

.header__menu {
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  border: none;
  background-color: transparent;
}

.header__menu__line {
  width: 20px;
  height: 3px;
  display: block;
  background-color: #FFFFFF;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.header__menu.active .header__menu__line1 {
  -webkit-transform: rotate(44deg);
          transform: rotate(44deg);
}

.header__menu.active .header__menu__line2 {
  opacity: 0;
}

.header__menu.active .header__menu__line3 {
  -webkit-transform: rotate(-44deg);
          transform: rotate(-44deg);
}

.header__menu-phone {
  padding: 80px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  position: fixed;
  right: 0;
  top: 100px;
  bottom: 0;
  border-radius: 50px 0 0 0;
  background-color: rgba(121, 200, 199, 0.462745098);
  -webkit-animation: none;
          animation: none;
  display: none;
  opacity: 0;
}

.header__menu-phone.active {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: none;
          animation: none;
  -webkit-animation: menuOn 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
          animation: menuOn 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.header__menu__item__contact-link {
  margin-bottom: 40px;
  padding: 10px 32px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  border-radius: 55px;
  border: 2px solid #FFFFFF;
}

.header__menu__item__navigation {
  padding-left: 10px;
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 700;
  line-height: 20px;
}

@media screen and (min-width: 768px) {
  .header__menu {
    display: none;
  }
  nav {
    display: block;
  }
  .header__contact-link {
    display: inline-block;
  }
}
@media screen and (min-width: 1110px) {
  .header__left {
    gap: 80px;
  }
}
.header-chost {
  height: 100px;
}

.hero {
  padding-top: 60px;
  padding-bottom: 197px;
  background-repeat: no-repeat;
  background-position: 8px 435px;
  background-image: url("../img/hero-element1.svg");
}

.hero-wrapper {
  width: 327px;
  margin: 0 auto;
  text-align: center;
}

.hero__title {
  width: 228px;
  margin: 0 auto;
  margin-bottom: 18px;
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}

.hero__title span {
  color: #F67E7E;
}

.hero__text {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 600;
  line-height: 28px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 92px;
    padding-bottom: 256px;
    background-position: 206px 468px;
  }
  .hero-wrapper {
    width: 457px;
  }
  .hero__title {
    width: 397px;
    margin-bottom: 24px;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
  }
}
@media screen and (min-width: 1110px) {
  .hero {
    background-image: url("../img/hero-element1.svg"), url("../img/hero-element2.svg");
    background-position: 720px 459px, 0px 109px;
  }
  .hero-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .hero__title {
    width: 539px;
    margin: 0;
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
  }
  .hero__text {
    width: 445px;
    padding-top: 83px;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url("../img/hero-line.svg");
  }
}
.manage {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #012F34;
  background-repeat: no-repeat;
  background-position: 275px 0;
  background-image: url("../img/manage-element.svg");
}

.manage__line {
  width: 48px;
  height: 4px;
  margin-bottom: 32px;
  display: block;
  background-color: #F67E7E;
}

.manage__title {
  width: 224px;
  margin-bottom: 56px;
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}

.manage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 48px;
}

.manage__item {
  padding-top: 88px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 128px 0;
}

.manage__item___name {
  margin-bottom: 8px;
  color: #F67E7E;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.manage__item__desc {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  opacity: 80%;
}

.manage__item1 {
  background-image: url("../img/manage-img1.svg");
}

.manage__item2 {
  background-image: url("../img/manage-img2.svg");
}

.manage__item3 {
  background-image: url("../img/manage-img3.svg");
}

@media screen and (min-width: 768px) {
  .manage {
    padding-top: 100px;
    padding-bottom: 100px;
    background-position: 668px 0;
  }
  .manage__title {
    width: 445px;
    margin-bottom: 64px;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
  }
  .manage__item {
    width: 573px;
    padding-top: 0;
    padding-left: 95px;
    text-align: left;
    background-position: 0 0;
  }
  .manage__item___name {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
  }
}
@media screen and (min-width: 992px) {
  .manage {
    padding-top: 140px;
    padding-bottom: 140px;
    background-position: 1420px 480px;
  }
  .manage-flex-desctop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 125px;
  }
  .manage__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
  }
  .manage__line {
    margin-bottom: 54px;
  }
  .manage__item__desc {
    width: 445px;
  }
}
.succes {
  padding-top: 140px;
  padding-bottom: 140px;
  background-repeat: no-repeat;
  background-position: 0 0, 175px 1310px;
  background-image: url("../img/succes-element1.svg"), url("../img/succes-element2.svg");
}

.succes__title {
  color: #FFFFFF;
  margin-bottom: 84px;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
}

.succes__title span {
  color: #79C8C7;
}

.succes__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 84px;
}

.succes__item {
  text-align: center;
}

.succes__item__desc {
  margin-bottom: 16px;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
}

.succes__item__name {
  margin-bottom: 2px;
  color: #79C8C7;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.succes__item__job {
  margin-bottom: 16px;
  display: block;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 18px;
}

@media screen and (min-width: 768px) {
  .succes {
    background-position: 0 0, 568px 1169px;
  }
  .succes__list {
    width: 100%;
  }
  .succes__item {
    width: 573px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .succes {
    background-position: 0 0, 1240px 585px;
  }
  .succes__title {
    width: 633px;
    margin: 0 auto;
    margin-bottom: 92px;
  }
  .succes__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .succes__item {
    width: 350px;
  }
}
.start {
  padding-top: 83px;
  padding-bottom: 83px;
  background-color: #F67E7E;
  text-align: center;
}

.start-warpper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.start__title {
  margin-bottom: 24px;
  color: #012F34;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}

.start__link {
  padding: 10px 32px;
  color: #012F34;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  border-radius: 55px;
  border: 2px solid #012F34;
}

@media screen and (min-width: 768px) {
  .start-warpper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
  .start__title {
    width: 336px;
  }
}
.hero-about {
  padding-top: 60px;
  padding-bottom: 108px;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-image: url("../img/hero-about-element1.svg");
}

.hero-about__title {
  margin-bottom: 16px;
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}

.hero-about__text {
  margin: 0 auto;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
}

.hero-about__line {
  width: 50px;
  height: 4px;
  margin-bottom: 40px;
  display: none;
  background-color: #F67E7E;
}

@media screen and (min-width: 768px) {
  .hero-about {
    background-position: right bottom;
    background-image: url("../img/hero-about-element2.svg");
  }
  .hero-about__title {
    margin-bottom: 24px;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
  }
  .hero-about__text {
    width: 457px;
  }
}
@media screen and (min-width: 1110px) {
  .hero-about {
    padding-top: 100px;
    padding-bottom: 120px;
  }
  .hero-wrapper-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero-about__title {
    font-size: 64px;
    font-weight: 700;
    line-height: 100px;
    text-align: left;
  }
  .hero-about__line {
    display: block;
  }
  .hero-about__text-wrp, .hero-about__text {
    width: 730px;
    text-align: left;
  }
}
.direction {
  padding-top: 88px;
  padding-bottom: 116px;
  background-color: #004047;
}

.direction__title {
  margin-bottom: 48px;
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
}

.direction__list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 52px;
}

.direction__item {
  padding: 32px 24px 56px 24px;
  padding-bottom: 0;
  position: relative;
  text-align: center;
  background-color: #012F34;
}

.direction__user-pic {
  margin-bottom: 16px;
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.direction__name {
  color: #79C8C7;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.direction__job {
  color: #FFFFFF;
  display: block;
  font-style: italic;
  font-size: 15px;
  line-height: 25px;
  opacity: 1;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.direction__job::after {
  content: "“Empowered teams create truly amazing products. Set the north star and let them follow it.”";
  display: block;
  opacity: 0;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.direction__plus {
  width: 56px;
  height: 56px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateY(50%) translateX(-50%);
          transform: translateY(50%) translateX(-50%);
  color: #012F34;
  border-radius: 50%;
  font-size: 25px;
  font-weight: 700;
  background-color: #F67E7E;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.direction__plus span {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.to-top {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 0;
}

.translate {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.direction__job.content::after {
  opacity: 1;
}

.direction__plus.active {
  background-color: #79C8C7;
}

.direction__plus.active span {
  display: inline-block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  line-height: 15px;
}

@media screen and (min-width: 768px) {
  .direction__list {
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 11px;
       -moz-column-gap: 11px;
            column-gap: 11px;
    row-gap: 76px;
  }
}
@media screen and (min-width: 1110px) {
  .direction__title {
    font-size: 48px;
    line-height: 48px;
  }
  .direction__list {
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
.companies {
  padding-top: 88px;
  padding-bottom: 88px;
}

.companies__title {
  margin-bottom: 64px;
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
}

.companies__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .companies__title {
    margin-bottom: 48px;
  }
  .companies__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */