html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    overflow-x: hidden;
    font-family: 'Livvic', sans-serif;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: unset;
    display: inline-block;
}
img{
    max-width: 100%;
    height: auto;
}
.container{
    max-width: calc(1110px + 48px);
    margin: 0 auto;
    padding: 0 24px;
}
