.companies{
    padding-top: 88px;
    padding-bottom: 88px;
}
.companies__title{
    margin-bottom: 64px;
    color: $white;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
}
.companies__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

@media screen and (min-width: 768px) {
    .companies__title{
        margin-bottom: 48px;
    }
    .companies__list{
        flex-direction: row;
        justify-content: center;
    }
}